* { box-sizing:border-box }

#patata {
    max-width: 100%;
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 100%;
    margin-top: 50px;}
#title {
    font-family: 'Oswald', sans-serif;
    text-align: center;
    float: center !important;
    font-size: 120px !important;
    color: white !important;
    margin: 0% !important;
    height: 140px;
}
h1{
    font-size: 120px !important;
}
body {
    font-family: 'Oswald', sans-serif !important;
    background-image: url(../Immagini/sfondo.jpg);
    background-color: black !important;
    background-size: 100%;
}
nav{
    margin: 0px auto;
    width:100%;
    background-color: rgb(255, 255, 255) !important;
    padding: 0% !important;
}
nav ul{
    list-style-type: none;
    padding: 0px;
    margin: 1px;
    width: 100%;
    background-color: rgb(255, 255, 255);
}
nav ul li{
    font-family: 'Oswald', sans-serif !important;
    display: inline-block;
    background-color: rgb(255, 255, 255);
    padding: 8px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    width: 33%;
    text-align: center;
}
nav ul li a{
    font-size: 20px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0) !important;
    padding: 0%;
}
#logo {
    max-width: 100%;
    padding: 0px !important;
    height: 70px;
    width: 80px;
    float: left;
    border-top: 0px !important;
    border-bottom: 0px !important;
}
.navbar-brand {
    margin: 0px !important;
    padding: 0% !important;
    border: 0px !important;
    background-color: black;
}
nav a{
    border-top: 4px solid rgb(255, 255, 255);
    border-bottom: 4px solid rgb(255, 255, 255);
    padding: 6px 0; 
}
nav a:hover {
    border-top: 4px solid rgb(255, 0, 0);
    border-bottom: 4px solid rgb(255, 0, 0);
    padding: 6px 0; 
  }
.dropdown-item {
    background-color: black !important;
    color: white !important;

}
.dropdown-menu {
    padding: 0% !important;
}
#italia {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-top: 300px;
}
nav.navbar.sticky-top.navbar-expand-lg.navbar-light.bg-light {
    background-color: white !important;
}
h2 {
    color: rgb(255, 255, 0) !important;
    font-family: 'Roboto Condensed', sans-serif !important;
    text-align: center;
    float: center !important;
    font-size: 80px !important;
    margin: 0% !important;
    height: 10px !important;
}

h5 {
    float: left;
    color: yellow !important;
}
#ff {
    height: 400px;
    margin-top: 10px;
    text-align: left;
    margin-bottom:20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius:7px;
}
.albums {
    margin-left: 0px !important;
    position: relative;
    height: auto;
    top: 30px;
    text-align: center;
    width: 100px;
    color: yellow;
    display: inline;
}
.albums img {
    display: inline-block;
    width: 20%;
    align-items: left;
    position: absolute;
}
#simpatia {
    margin-right: 100%;
    top: 10px;
    height: 100px;
    width: 100px;
    display: inline;
    text-align: justify;
}
#album {
    top: 10px;;
    height: 100px;
    width: 100px;
    display: inline !important;
    text-align: center !important;
    color: yellow !important;
}
.bio {
    display: inline;
    background-color: #ffff00;
    text-align: left;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.artists {
    color: rgb(255, 255, 0) !important;
    font-family: 'Roboto Condensed', sans-serif !important;
    text-align: center !important;
    font-size: 50px !important;
    margin-left: auto;
    margin-right: auto;
}
.artists a{
    text-align: center;
    color: rgb(255, 255, 0) !important;
    top: 30px ;
    font-size: 20px;
    position: relative;
    display: inline;
}
#albumsa {
    display: inline;
    width: 35%;
    padding: 5px;
    height: 100px;
    width: 100px;
    margin: 0 auto;
    position: relative;
    top: 10px;
    box-align: "left";
  }

.container {
    margin-top: 20px
    ;
}
.titolo{
    margin-bottom:15px !important;
    text-shadow: 2px 2px #000000;
}

.display-5{
    font-size:32pt !important;
    margin-top:36px !important;
    margin-bottom:21px !important;
}
.nome{
    margin-top:20px;
}


.controls-top{height:100px !important;}

.storia{
    font-family:'Oxygen', sans-serif;
    font-size: 12pt;
}

.foto img{
    text-align:right;
}