* { box-sizing:border-box }

#patata {
    max-width: 100%;
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 100%;
    opacity: 80%;}
h1 {
    text-align: center;
    font-size: 70px !important;
    padding: 0%;
    margin: 0%;
    border: 0%;
}
body {
    margin: 0px;
    background-color: rgb(201, 195, 195);
    opacity: 90%;
    font-family: 'Oswald', sans-serif;
}
nav{
    margin: 0px auto;
    width:100%;
}
nav ul{
    list-style-type: none;
    padding: 0px;
    margin: 1px;
    width: 100%;
}
nav ul li{
    font-family: 'Oswald', sans-serif;
    display: inline-block;
    background-color: white;
    padding: 8px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    width: 30%;
    text-align: center;
}
nav ul li a{
    font-size: 20px;
    background-color: rgb(255, 255, 255);
}
