* { box-sizing:border-box }

#patata {
    max-width: 100%;
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 100%;
    margin-top: 50px;}
h1 {
    font-family: 'Oswald', sans-serif;
    text-align: center;
    float: center !important;
    font-size: 120px !important;
    color: white !important;
    margin: 0% !important;
    height: 140px;
}
body {
    font-family: 'Oswald', sans-serif !important;
    /*background-image: url("../Immagini/sfondi.jpg");*/
    background-color: black !important;
    background-size: 100%;
}
nav{
    margin: 0px auto;
    width:100%;
    background-color: rgb(255, 255, 255) !important;
    padding: 0% !important;
}
nav ul{
    list-style-type: none;
    padding: 0px;
    margin: 1px;
    width: 100%;
    background-color: rgb(255, 255, 255);
}
nav ul li{
    font-family: 'Oswald', sans-serif !important;
    display: inline-block;
    background-color: rgb(255, 255, 255);
    padding: 8px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    width: 33%;
    text-align: center;
}
nav ul li a{
    font-size: 20px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0) !important;
    padding: 0%;
}
#logo {
    max-width: 100%;
    padding: 0px !important;
    height: 70px;
    width: 80px;
    float: left;
    border-top: 0px !important;
    border-bottom: 0px !important;
}
.navbar-brand {
    margin: 0px !important;
    padding: 0% !important;
    border: 0px !important;
    background-color: black;
}
nav a{
    border-top: 4px solid rgb(255, 255, 255);
    border-bottom: 4px solid rgb(255, 255, 255);
    padding: 6px 0; 
}
nav a:hover {
    border-top: 4px solid rgb(255, 0, 0);
    border-bottom: 4px solid rgb(255, 0, 0);
    padding: 6px 0; 
  }
.dropdown-item {
    background-color: black !important;
    color: white !important;

}
.dropdown-menu {
    padding: 0% !important;
}
#italia {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-top: 300px;
}
nav.navbar.sticky-top.navbar-expand-lg.navbar-light.bg-light {
    background-color: white !important;
}
h3 {
    color: rgb(255, 255, 0) !important;
    font-family: 'Roboto Condensed', sans-serif !important;
    text-align: center;
    float: center !important;
    font-size: 80px !important;
    margin: 0% !important;
    height: 10px !important;
}
h4 {
    color: rgb(255, 255, 255) !important;
    font-family: 'Roboto Condensed', sans-serif !important;
    text-align: center;
    float: center !important;
    font-size: 40px !important;
    margin: 0% !important;
    height: 10px !important;
}
h5 {
    float: left;
    color: yellow !important;
}
section {
    position:absolute; top:200px;
}
.ff {
    width: auto;
    height: 400px;
    margin-left: 0px;
    margin-right: auto;
}
.album {
    display: inline-block;
    height: 100px;
    width: 100px;
    margin-left: 0px;
    margin-right: auto;
}
div {
    position: relative;
    left: 0%;
    display: inline-block;
}
#simpatia {
    width: 100px;
    height: 100px;
    margin-left: 0px !important;
    margin-right: auto;
    top: 40px;
    position: relative;
}