
body {
    font-family: 'Oswald', sans-serif !important;
    /*background-image: url("../Immagini/sfondi.jpg");*/
    background-color: black !important;
    background-size: 100%;
}
h1 {
    font-family: 'Oswald', sans-serif;
    text-align: center;
    float: center !important;
    font-size: 120px !important;
    color: rgb(255, 251, 0) !important;
    margin: 0% !important;
    height: 140px;
}